:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-hero-footer: #2f303a;
  --secondary-bckground: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  background-color: var(--white-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.btn {
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .header__conteiner {
    display: flex;
  }
}
.header__logo {
  margin-right: 93px;
}
.header__auth-nav {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.logo__span {
  color: var(--black-color);
}

.logo-span-footer {
  color: var(--white-color);
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.site-nav {
  display: flex;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}
.site-nav__link.current {
  color: var(--accent-color);
}

.auth-nav {
  align-items: center;
}
@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav {
    display: block;
    padding-top: 19px;
    padding-bottom: 19px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__item + .auth-nav__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__item + .auth-nav__item {
    margin-left: 30px;
  }
}
.auth-nav__link {
  display: flex;
  align-items: center;
  color: var(--primery-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .auth-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.auth-nav__mail-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__phon-icon {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}
.auth-nav__link:hover .auth-nav__mail-icon, .auth-nav__link:focus .auth-nav__mail-icon {
  fill: var(--accent-color);
}
.auth-nav__link:hover .auth-nav__phon-icon, .auth-nav__link:focus .auth-nav__phon-icon {
  fill: var(--accent-color);
}

.top-tel-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .top-tel-menu {
    display: none;
  }
}

.tel-menu-open {
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-menu-open:hover,
.tel-menu-open:focus {
  fill: var(--accent-color);
}

.tel-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 48px 40px;
}

.tel-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-menu-close:hover,
.tel-menu-close:focus {
  fill: var(--accent-color);
}

.tel-site-nav {
  margin-bottom: 50px;
}

.tel-site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.tel-site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.tel-site-nav__link.current {
  color: var(--accent-color);
}

.tel-auth-nav {
  margin-bottom: 64px;
}

.tel-auth-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.tel-auth__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.tel-auth__link:focus,
.tel-auth__link:hover {
  color: var(--accent-color);
}

.tel-auth-mail__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

.tel-auth-mail__link:focus,
.tel-auth-mail__link:hover {
  color: var(--accent-color);
}

.tel-soc-menu {
  display: flex;
}

.tel-soc-item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.tel-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.hero {
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__text {
  line-height: 1.71;
}
@media screen and (min-width: 768px) {
  .features__item {
    margin-bottom: 30px;
    margin-right: 30px;
  }
}
.features__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.work {
  padding-top: 0px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work__title {
  margin-bottom: 50px;
}
.work__list {
  display: flex;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__desktop-app {
  position: relative;
}
.work__text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.team {
  background-color: var(--secondary-bckground);
}
.team__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .person-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
  }
}
.person-list .img-team {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .person-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.person-list__item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .person-list__item {
    width: calc(50% - 30px);
    margin-bottom: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .person-list__item {
    width: calc(25% - 30px);
  }
}
.person-list__name {
  padding-top: 30px;
  padding-bottom: 24px;
}
.person-list__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.person-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-media {
  display: flex;
  justify-content: center;
}
.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover, .social-media__link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}
.social-media__item:not(:last-child) {
  margin-right: 10px;
}
.social-media__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__link:hover .social-media__icon, .social-media__link:focus .social-media__icon {
  fill: var(--white-color);
}

.clients__title {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  justify-content: center;
}
.clients-list__item {
  margin: 15px;
  width: calc(50% - 30px);
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc(16.6666666667% - 30px);
  }
}
.clients-list__link {
  height: 92px;
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 225ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero-footer);
}
@media screen and (min-width: 768px) {
  .footer .conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .conteiner {
    justify-content: left;
    align-items: baseline;
  }
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .footer .logo {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer__list {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer .item {
    text-align: center;
  }
}
.footer .item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .footer .footer-media {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer-media {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-media {
    margin-left: 70px;
  }
}
.footer .footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .footer .footer-title {
    text-align: center;
  }
}
.footer .social-media__link--footer {
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}
.footer .social-media__icon--footer {
  fill: #ffffff;
}
.footer .address {
  display: inline-block;
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .address:hover, .footer .address:focus {
  color: var(--accent-color);
}
.footer .communication {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .communication:hover, .footer .communication:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .form-footer {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .form-footer {
    margin-left: auto;
  }
}
.footer .footer-input {
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
@media screen and (max-width: 1199px) {
  .footer .footer-input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-input {
    min-width: 358px;
  }
}
.footer .footer-button {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  border: transparent;
}
@media screen and (max-width: 1199px) {
  .footer .footer-button {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer .telegram-icon {
  margin-left: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer .form-footer-wrap {
    display: flex;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close:hover {
  fill: var(--accent-color);
}

.form > .text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form-fild {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-fild label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.form-fild input {
  padding: 11px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  width: 100%;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild input:focus {
  border-color: var(--accent-color);
}

.wrap-input {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild input:focus + .modal-icon {
  fill: var(--accent-color);
}

.comment-label {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.comment-textarea {
  min-height: 120px;
  resize: none;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-textarea:focus {
  border-color: var(--accent-color);
}
.comment-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-text {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.71;
  margin-bottom: 30px;
}
.checkbox-text .link {
  text-decoration: underline;
  color: var(--accent-color);
}
.checkbox-text span {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .checkbox-text span {
  background-color: var(--accent-color);
  border: none;
}

.input-check:checked + .checkbox-text .icon-check {
  fill: var(--white-color);
}

.icon-check {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-wrap {
  display: flex;
  justify-content: center;
}

.modal-button {
  padding: 10px 55px;
  border: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.buton-portfolio {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--secondary-bckground);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buton-portfolio:hover, .buton-portfolio:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .filter .item {
    margin-bottom: 15px;
  }
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.gallery .img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery .item {
    width: calc(50% - 30px);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery .item {
    width: calc(33.3333333333% - 30px);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .gallery .item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.gallery .link:hover, .gallery .link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery .title {
  margin-bottom: 4px;
}

.portfolio .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primery-text-color);
}

.card {
  z-index: -1;
  position: relative;
  overflow: hidden;
}

.gallery-text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  padding: 63px 24px;
  background-color: #2196f3;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-activ {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-activ:hover .gallery-text {
  transform: translateY(0);
}

.caption-img {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}/*# sourceMappingURL=main.css.map */